<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <appSettings>
    <add key="MenuExit" value="True" />
    <add key="HidePasswordDialog" value="True" />
    <add key="task.LockScreenApp" value="0" />
    <add key="task.LockScreenType" value="2" />
    <add key="task.IsTooLateLockScreen" value="False" />
  </appSettings>
</configuration>
