<?xml version="1.0" encoding="utf-8"?>
<UpdateConfig>
  <CopyFiles>
    <FileInfo>
      <PublishPath/>
      <FileName>FluentScheduler.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.chalk.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.task.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.updater.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>simple.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>task.core.dll</FileName>
    </FileInfo>
  </CopyFiles>
</UpdateConfig>
