<?xml version="1.0" encoding="utf-8"?>
<UpdateConfig>
  <CopyFiles>
    <FileInfo>
      <PublishPath/>
      <FileName>FluentScheduler.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.chalk.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.task.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.updater.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>simple.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>task.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>lock.mp3</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath>..\</PublishPath>
      <FileName>TaskSettings.xml</FileName>
    </FileInfo>
  </CopyFiles>
  <DeleteFiles>
    <FileInfo>
      <PublishPath/>
      <FileName>lock.mp3</FileName>
    </FileInfo>
  </DeleteFiles>
  <Commands>
    <CommandInfo>
      <Type>before</Type>
      <FileName></FileName>
      <Param>
echo "taskkill 1" >> "%APPDATA%\dragonfly\logs\update.log"
taskkill /f /im simple.notify.exe >> "%APPDATA%\dragonfly\logs\update.log"
echo "taskkill 2" >> "%APPDATA%\dragonfly\logs\update.log"
taskkill /f /im questions.notify.exe >> "%APPDATA%\dragonfly\logs\update.log"
echo "taskkill 3" >> "%APPDATA%\dragonfly\logs\update.log"
taskkill /f /im dragonfly.plugin.task.notify.exe >> "%APPDATA%\dragonfly\logs\update.log"
echo %USERNAME% >> "%APPDATA%\dragonfly\logs\update.log"
icacls.exe "%APPDATA%\dragonfly\plugins\*" /grant:r system:(F) Administrators:(F) %USERNAME%:(F) /T /L /C /Q >> "%APPDATA%\dragonfly\logs\update.log"
      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
    <CommandInfo>
      <Type>after</Type>
      <FileName></FileName>
      <Param>
echo "setowner %USERNAME%" >> "%APPDATA%\dragonfly\logs\update.log"
icacls.exe "%APPDATA%\dragonfly\plugins\*" /setowner %USERNAME% /T /L /C /Q >> "%APPDATA%\dragonfly\logs\update.log"
echo "grant" >> "%APPDATA%\dragonfly\logs\update.log"
icacls.exe "%APPDATA%\dragonfly\plugins\*" /inheritance:r /grant:r system:(WO,RX) Administrators:(WO,RX) %USERNAME%:(WO,RX) /T /L /C /Q >> "%APPDATA%\dragonfly\logs\update.log"
      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
  </Commands>
</UpdateConfig>
