<?xml version="1.0" encoding="utf-8"?>
<UpdateConfig>
  <CopyFiles>
    <FileInfo>
      <PublishPath/>
      <FileName>FluentScheduler.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.chalk.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.task.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.updater.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>simple.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>task.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>lock.mp3</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath>..\</PublishPath>
      <FileName>TaskSettings.xml</FileName>
    </FileInfo>
  </CopyFiles>
  <Commands>
    <CommandInfo>
      <Type>before</Type>
      <FileName></FileName>
      <Param>
taskkill /f /im simple.notify.exe
taskkill /f /im questions.notify.exe
taskkill /f /im dragonfly.plugin.task.notify.exe
      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
    <CommandInfo>
      <Type>after</Type>
      <FileName></FileName>
      <Param>
set id=%USERNAME%
c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /inheritance:d

c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /remove:g system
c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /grant:r system:RX  /T /L /C /Q

c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /remove:g Administrators
c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /grant:r Administrators:RX  /T /L /C /Q
c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /remove:g %id%
c:\windows\system32\icacls.exe C:\Users\%id%\AppData\Roaming\dragonfly\plugins\  /grant:r %id%:RX  /T /L /C /Q

c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /inheritance:d

c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /remove:g system
c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /grant:r system:RX  /T /L /C /Q

c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /remove:g Administrators
c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /grant:r Administrators:RX  /T /L /C /Q

c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /remove:g %id%
c:\windows\system32\icacls.exe "C:\Program Files\dragonfly\"  /grant:r %id%:RX  /T /L /C /Q

      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
  </Commands>
</UpdateConfig>
