<?xml version="1.0" encoding="utf-8"?>
<UpdateConfig>
  <CopyFiles>
    <FileInfo>
      <PublishPath/>
      <FileName>FluentScheduler.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.chalk.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.task.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>plugin.updater.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>questions.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>simple.notify.exe</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>task.core.dll</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath/>
      <FileName>lock.mp3</FileName>
    </FileInfo>
    <FileInfo>
      <PublishPath>..\</PublishPath>
      <FileName>TaskSettings.xml</FileName>
    </FileInfo>
  </CopyFiles>
  <Commands>
    <CommandInfo>
      <Type>before</Type>
      <FileName></FileName>
      <Param>
taskkill /f /im simple.notify.exe
taskkill /f /im questions.notify.exe
taskkill /f /im dragonfly.plugin.task.notify.exe
      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
    <CommandInfo>
      <Type>after</Type>
      <FileName></FileName>
      <Param>
icacls.exe "%APPDATA%\dragonfly\plugins\*" /setowner %USERNAME% /T /L /C /Q
icacls.exe "%APPDATA%\dragonfly\plugins\*" /inheritance:r /grant:r system:(WO,RX) Administrators:(WO,RX) %USERNAME%:(WO,RX) /T /L /C /Q

icacls.exe "%ProgramFiles%\dragonfly\*" /setowner %USERNAME% /T /L /C /Q
icacls.exe "%ProgramFiles%\dragonfly\*" /inheritance:r /grant:r system:(WO,RX) Administrators:(WO,RX) %USERNAME%:(WO,RX) /T /L /C /Q
      </Param>
      <Startpath></Startpath>
    </CommandInfo>    
  </Commands>
</UpdateConfig>
